
<body>
    <form>
        <fieldset>
            <legend style="color: blue;">Registration Form</legend>
            <label for="name"> Username: </label>
            <input type="text" id="name" name="name"><br><br>
            <label for="email"> Email Address:</label>
            <input type="email" id="email" name="email"><br><br>
            <label for="passwrd"> Password:</label>
            <input type="password" id="passwrd" name="password"><br><br>
            <label for="cnfrm-psswrd"> Confirm Password:</label>
            <input type="password" id="cnfrm-psswrd" name="password"><br><br>
            <label for="number"> Mobile number: </label>
           <input type="number" id="number" name="number"><br><br>
        </fieldset>
        <br>
        <button type="submit"> Register </button>
        </form>
    </body>